footer
    padding: 1em 0
    text-align: center
    background-color: map-get($social, dribbble)
    color: white

    p
        font-weight: 600
        font-size: .9em


        +desktop-up
            font-size: 1.2em

        a
            background-color: #fff
            color: map-get($social, dribbble)
            padding: .2em
