.intro

    height: 100vh
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    background: $primary
    color: $frost-white

.intro__image

    +size(150px)
    margin-bottom: 2rem
    border-radius: 50%
    overflow: hidden
    border: 2px solid #333
    box-shadow: 1px 2px 3px #333

    img
        display: block

.intro__name
    font-family: $heading
    font-size: 1.8em
    text-transform: uppercase
    font-weight: 400
    margin-bottom: 2rem
