.intro

    height: 100vh
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    background: $primary
    color: $frost-white

    &.show-meta .intro__meta
        opacity: 1
        transform: translateY(0)

.intro__image

    +size(150px)
    margin-bottom: 2rem
    border-radius: 50%
    overflow: hidden
    border: 2px solid #333
    box-shadow: 2px 1px 2px lighten(#333, 10%)
    box-shadow: inset hoff voff blur color

    img
        display: block

.intro__name
    font-family: $heading
    font-size: 1.8em
    text-transform: uppercase
    font-weight: 400
    margin-bottom: 2rem

    +large-desktop
        font-size: 2.5rem

h1
    font-size: 1.3em
    line-height: 1.6
    text-align: center
    width: 90%

    +tablet-up
        font-size: 2rem

    +large-desktop
        font-size: 3rem

.intro__meta
    opacity: 0
    transform: translateY(100%)
    transition: all .2s ease

    @for $i from 1 through 3

        &:nth-child(#{$i})

            transition-delay: .1s + ($i/10)
