doctype

html

    include ./includes/head.jade
      
    body
        
        include ./includes/header.jade
        include ./includes/skills.jade
        include ./includes/work.jade
        include ./includes/contact.jade
        include ./includes/social.jade
        include ./includes/footer.jade

        include ./includes/ga.jade
        script(src='https://cdn.jsdelivr.net/handlebarsjs/4.0.5/handlebars.min.js')
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCjDP5ULs_0806LRwwkeaAHlQzy-alla7I')
        script(src='/assets/js/app.js')
