.contact

    display: flex
    height: 40vh
    overflow: hidden

    > div
        flex-basis: 50%

.contact__title
    background: #333
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    color: $yellow

    h3
        font-size: 4em
        text-transform: uppercase
        letter-spacing: 0.05em
        margin-bottom: 2rem

.toggle-overlay
    overflow: hidden
    position: relative
    font-size: 1.5em

    &:hover

        span

            transform: translateX(100%)

        &:before

            z-index: 1
            transform: translateX(0)

    span
        display: block
        padding: .5em 1em
        position: relative
        /*background-color: map-get($social, dribbble)*/
        background-color: $yellow
        font-weight: 600
        /*color: white*/
        color: #333
        transition: all .3s ease

    &:before
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: -1
        background-color: #fff
        color: map-get($social, dribbble)
        font-weight: 600
        content: attr(data-hover)
        line-height: 2.2
        transition: all .3s ease
        transform: translateX(25%)

.contact__map
    position: relative
    background-color: #e4a5f9

.map-overlay
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: $yellow
    color: #333
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    transform: translateY(-400px)
    transition: all .23s ease

    &:is-showing
        transform: translateY(0)

    h4
        font-size: 2em
        text-transform: uppercase

.details
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 2em
    width: 80%

.details li
    display: flex
    align-items: center
    margin-bottom: 1em
    font-weight: 600
    font-size: 1.2em

    &:last-child
        margin-bottom: 0

    svg
        +size(25px)
        margin-right: 10px

        path

            fill: #333
