.contact

    display: flex
    flex-direction: column

    +tablet-up
        flex-direction: row
        overflow: hidden

        > div
            flex-basis: 50%

    +desktop-up
        height: 40vh

.contact__title
    background: $secondary
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    color: $frost-white
    padding: 2.5em 0

    +tablet
        padding: 4em 0

    +desktop-up
        padding: 0

    h2
        font-size: 3rem
        text-transform: uppercase
        letter-spacing: 0.05em

        +desktop-up
            font-size: 5rem

.contact__map
    position: relative

#map
    height: 30vh

    +tablet-up
        height: auto
