.shots

    padding: 5em 3em
    background-color: map-get($social, dribbble)
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.shots__shot
    flex-basis: 24%
    position: relative
    margin-bottom: 3em
    border: 4px solid $slate
    overflow: hidden

    img
        display: block

.shot__info
    +position(absolute, 0 0 0 0 )
    display: flex
    flex-direction: column

.shot-caption
    flex: 2
    background-color: #333
    color: #fff

.shot-stats
    background-color: white
    height: 25%
    display: flex
    align-items: center
    justify-content: center

    span
        margin-right: 1em

        &:last-child
            margin-right: 0

        svg
            display: block
            margin: 0 auto
            +size(20px)
