.work
    background-color: $slate
    padding: 2em 0 1em

    +desktop-up
        padding: 5em 5em 3em

    +large-desktop
        padding: 5em 18em 3em

.work__title

    text-align: center
    font-size: 2.2rem
    color: #333

    +tablet-up

        font-size: 3rem

.shots

    padding: 2.5em 1.5em 0
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    flex-direction: column

    +tablet-up
        flex-direction: row

.shots__shot
    position: relative
    margin-bottom: 2em
    overflow: hidden
    border: 2px solid #333
    border-radius: 10px

    +tablet-up
        flex-basis: 49%

    +desktop-up
        flex-basis: 32%
        margin-bottom: 3em
        border: 3px solid #333
        transition: all .3s ease

        &:hover

            box-shadow: 1px 2px 9px #333

            .shot__info
                background-color: fade-out($secondary, .1)

                .shot-caption
                    visibility: visible
                    opacity: 1

                    .meta
                        opacity: 1
                        transform: translateY(0)
                .shot-stats
                    transform: translateY(0)

    img
        display: block

.mobile-shot-info

    display: flex
    align-items: center
    justify-content: space-between
    background-color: $lightgrey
    padding: .5em 1em
    text-align: center
    color: #333


    .shot__link--mobile

        display: inherit
        animation: pulseScale 1s ease-out both infinite

        svg

            +size(20px)

            path
                fill: map-get($social, dribbble)

    +desktop-up
        display: none

.shot__info
    +position(absolute, 0 0 0 0 )
    background-color: transparent
    display: flex
    flex-direction: column
    transition: background-color .23s ease

.shot-caption
    color: $frost-white
    flex: 2
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    opacity: 0
    visibility: hidden
    transition: all .3s ease

    .meta
        opacity: 0
        transform: translateY(100%)
        transition: all .2s ease

        @for $i from 1 through 3

            &:nth-child(#{$i})

                transition-delay: .1s + ($i/10)

.shot__title
    margin-bottom: .3em
    margin-top: -1.5em
    font-size: 2em

.shot__date
    font-size: 1.3em
    margin-bottom: 1.4em

.shot__link
    margin-bottom: -3em
    background-color: map-get($social, dribbble)
    color: #fff
    width: 150px
    padding: .5em 1em
    display: flex
    align-items: center
    justify-content: space-between
    font-size: 1.2em
    font-weight: 600
    overflow: hidden

    &:hover

        svg
            opacity: 1

        span, svg
            transform: translateX(0)

    span
        transform: translateX(15px)
        transition: all .23s ease

    svg
        +size(20px)
        transform: translateX(95px)
        opacity: 0
        transition: all .23s ease

        path
            fill: white

.shot-stats
    background-color: $primary
    height: 25%
    display: none
    align-items: center
    justify-content: center
    transform: translateY(100%)
    transition: all .3s ease

    +desktop-up
        display: flex

    span
        margin-right: 1em
        font-weight: 600
        color: $frost-white
        font-size: 1.3em

        &:last-child
            margin-right: 0

        svg
            display: block
            margin: 0 auto .3em
            +size(20px)

            path
                fill: $frost-white
