section.contact
    
    div.contact__title
    
        h3 Find Me
        button(type="button").toggle-overlay My Details
    
    div.contact__map#map
    
        div.map-overlay
            
            h4 My Details
            
            ul.details
                li    
                    include ../svg/envelop.svg
                    a(href="mailto:example@examle.com") email@email.com
                    
                li    
                    include ../svg/phone.svg
                    a(href="tel:444-333-32234") 323-2323-323232
                    
                li    
                
                    include ../svg/skype.svg
                    a(href="skype:karim.cheurfi1") karim.cheurfi1
                    
    
            ul.details
                li    
                    include ../svg/twitter.svg
                    a(href="http://www.twitter.com/CerealCoder") @CerealCoder
                    
                li    
                    include ../svg/dribbble.svg
                    a(href="http://www.dribbble.com/UserName") MyDribbleUserName
                    
                li    
                
                    include ../svg/instagram.svg
                    a(href="http://www.instagram.com/CerealCoder") @CerealCoder
