header.intro
        
    figure.intro__image
        
        img(src="/assets/img/121.jpg", alt="my cool photo")
        
    span.intro__name Lionel Zabana
    
    h1 Interaction Designer based in Shoreditch, London, UK.
