header.intro
    
    div.intro__title
        
        h1 
            span Interaction Designer
            span Based in Shoreditch
            span London, UK
            
    div.intro__about
        
        div.blurb
            p Lomo austin chicharrones tilde typewriter hoodie. Chia semiotics umami retro franzen, bitters pabst normcore four
                | loko godard kale chips artisan. 8-bit letterpress farm-to-table, four loko
                | gastropub actually lo-fi
        
        div.skills
            
            div.skills__list
                
                ul
                    li Wireframing / Prototyping
                    li Adobe Suite / Sketch 
                    li HTML, CSS, jQuery
                    li Typography
                    
            
            div.skills__title
                
                h2 Skills
