header.intro
        
    figure.intro__image.intro__meta
        
        img(src="/assets/img/121.jpg", alt="my cool photo")
        
    span.intro__name.intro__meta Lionel Zabana
    
    h1.intro__meta Interaction Designer based in Shoreditch, London, UK.
