header.intro
    
    div.intro__title
        
        h1 
            span Interaction Designer
            span Based in Shoreditch
            span London, UK
            
    div.intro__about
        
        div.blurb
            p Lomo austin chicharrones tilde typewriter hoodie. Chia semiotics umami retro franzen, bitters
            p pabst normcore four loko godard kale chips artisan. 8-bit letterpress farm-to-table, four loko
            p gastropub actually lo-fi sartorial tattooed shoreditch lomo health goth. Hoodie jean, Messenger
        
        div.skills
            
            div.skills_list
                
                ul
                    li Wireframing
                    li Prototyping
                    li Html, CSS, jQuery
                    li Photoshop / Illustrator / Sketch / After Effects
                    li Typography
            
            div.skills_title
                
                h2 Skills
