section.skills
    
    figure.skills__box
        
        img(src="/assets/img/design.jpg", alt="Development")
        
        figcaption.skills__caption
            h3 Design
            
            ul
                li Wireframing / Prototyping
                li Font creation
                li Adobe Suite / Sketch
                li Typography
    
    figure.skills__box
        
        img(src="/assets/img/code.jpg", alt="Development")
        
        figcaption.skills__caption
            h3 Development
            
            ul
                li HTML5 / CSS3 / jQuery
                li Python / Ruby / PHP
                li mySQL / SQLite 
                li WebGL / Canvas

    figure.skills__box
        
        img(src="/assets/img/bike.jpg", alt="Other")
        
        figcaption.skills__caption
            h3 Other
            
            ul
                li Blogging / Copywriting
                li Social Media / SEO 
                li Video Production 
                li Photography
        
