section.skills
    
    figure.skills__box
        
        img(src="/assets/img/design.jpg", alt="Development")
        
        figcaption.skills__caption
            h3 Design
            
            ul
                li Wireframing / Prototyping
                li HTML5 / CSS3 / jQuery
                li Adobe Suite / Sketch
                li Typography
    
    figure.skills__box
        
        img(src="/assets/img/code.jpg", alt="Development")
        
        figcaption.skills__caption
            h3 Development
            
            ul
                li Wireframing / Prototyping
                li HTML5 / CSS3 / jQuery
                li Adobe Suite / Sketch
                li Typography

    figure.skills__box
        
        img(src="/assets/img/bike.jpg", alt="Other")
        
        figcaption.skills__caption
            h3 Other
            
            ul
                li Wireframing / Prototyping
                li HTML5 / CSS3 / jQuery
                li Adobe Suite / Sketch
                li Typography
        
