section.social
    
    h3.social__title Let's Connect
        
    ul.social__links
    
        li    
            a(href="http://www.twitter.com/").icon--twitter
                include ../svg/twitter.svg
    
        li    
            a(href="http://www.instagram.com/").icon--instagram
                include ../svg/instagram.svg
        
        li    
            a(href="http://www.instagram.com/").icon--linkedin
                include ../svg/linkedin.svg        
        li    
            a(href="mailto:example@examle.com").icon--github
                include ../svg/github.svg
        li    
            a(href="skype:karim.cheurfi1").icon--skype
                include ../svg/skype.svg
        
        li    
            a(href="mailto:karim.cheurfi@gmail.com").icon--gplus
                include ../svg/envelop.svg
