section.testimonials

    .wrapper
        
        include ../svg/quotes.svg
        
        div.testimonials__quotes
        
            blockquote.testimonials__quote
                
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam fugiat magnam non magni, nulla unde modi. Ipsam tempora voluptatum, voluptate a error corporis labore dolor illum veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit eum non esse! Et error explicabo quam molestias dolores id.
                
                cite Sir Alex Ferguson
            
            blockquote.testimonials__quote
                
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam fugiat magnam non magni, nulla unde modi. Ipsam tempora voluptatum, voluptate a error corporis labore dolor illum veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit eum non esse! Et error explicabo quam molestias dolores id.
                
                cite Zinedine Zidane
                    
            blockquote.testimonials__quote
                
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam fugiat magnam non magni, nulla unde modi. Ipsam tempora voluptatum, voluptate a error corporis labore dolor illum veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit eum non esse! Et error explicabo quam molestias dolores id.
                
                cite Marcello Lippi
                        
            blockquote.testimonials__quote
                
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam fugiat magnam non magni, nulla unde modi. Ipsam tempora voluptatum, voluptate a error corporis labore dolor illum veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit eum non esse! Et error explicabo quam molestias dolores id.
                
                cite Claudio Ranieri 
                            
            blockquote.testimonials__quote
                
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam fugiat magnam non magni, nulla unde modi. Ipsam tempora voluptatum, voluptate a error corporis labore dolor illum veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit eum non esse! Et error explicabo quam molestias dolores id.
                
                cite Raul Gonzalez Blanco
        
        div.testimonials__faces
            
            ul
                li
                    img(src="/assets/img/121.jpg", alt="")
                li
                    img(src="/assets/img/122.jpg", alt="")
                li
                    img(src="/assets/img/123.jpg", alt="")
                li
                    img(src="/assets/img/128.jpg", alt="")
                li
                    img(src="/assets/img/129.jpg", alt="")
