section.shots
    
    div.shots__shot
    
        figure.shot__image
        
            img(src="/assets/img/", alt="")
            
            div.shot__info
    
                span.views
                    include ../svg/eye.svg
                    | 32
                span.likes
                    include ../svg/heart.svg
                    | 43
                span.comments
                    include ../svg/bubble.svg
                    |3054
                
        div.shot__caption
            
            h3.caption__title Title sits here
            h4.caption__date  January 23, 2012
            p.caption__description 
                | Direct trade intelligentsia cold-pressed bicycle rights schlitz, flexitarian brooklyn next level scenester etsy small batch tilde. Offal meditation disrupt mlkshk tattooed chicharrones. Offal chia hella, polaroid cray letterpress lo-fi schlitz meh echo park. Flexitarian hella slow-carb, literally before they sold out chia kinfolk next level distillery kickstarter tacos messenger bag pug. Mustache XOXO normcore swag,
    
    div.shots__shot
    
        figure.shot__image
        
            img(src="/assets/img/", alt="")
            
            div.shot__info
                
                span.views 87
                span.likes 234
                span.rebounds 67890 
                span.comments 94367
                
        div.shot__caption
            
            h3.caption__title Title sits here
            h4.caption__date  October 21, 2012
            p.caption__description 
                | Direct trade intelligentsia cold-pressed bicycle rights schlitz, flexitarian brooklyn next level scenester etsy small batch tilde. Offal meditation disrupt mlkshk tattooed chicharrones. Offal chia hella, polaroid cray letterpress lo-fi schlitz meh echo park. Flexitarian hella slow-carb, literally before they sold out chia kinfolk next level distillery kickstarter tacos messenger bag pug. Mustache XOXO normcore swag,

    div.shots__shot

        figure.shot__image
        
            img(src="/assets/img/", alt="")
            
            div.shot__info
                
                span.views 65
                span.likes 439
                span.rebounds 875
                span.comments 232
                
        div.shot__caption
            
            h3.caption__title Title sits here
            h4.caption__date  January 23, 2012
            p.caption__description 
                | Direct trade intelligentsia cold-pressed bicycle rights schlitz, flexitarian brooklyn next level scenester etsy small batch tilde. Offal meditation disrupt mlkshk tattooed chicharrones. Offal chia hella, polaroid cray letterpress lo-fi schlitz meh echo park. Flexitarian hella slow-carb, literally before they sold out chia kinfolk next level distillery kickstarter tacos messenger bag pug. Mustache XOXO normcore swag,

    div.shots__shot
    
        figure.shot__image
        
            img(src="/assets/img/", alt="")
            
            div.shot__info
                
                span.views 73
                span.likes 345
                span.rebounds 9764 
                span.comments 20947
                
        div.shot__caption
            
            h3.caption__title Title sits here
            h4.caption__date  January 23, 2012
            p.caption__description 
                | Direct trade intelligentsia cold-pressed bicycle rights schlitz, flexitarian brooklyn next level scenester etsy small batch tilde. Offal meditation disrupt mlkshk tattooed chicharrones. Offal chia hella, polaroid cray letterpress lo-fi schlitz meh echo park. Flexitarian hella slow-carb, literally before they sold out chia kinfolk next level distillery kickstarter tacos messenger bag pug. Mustache XOXO normcore swag,
    
    div.shots__shot
    
        figure.shot__image
        
            img(src="/assets/img/", alt="")
            
            div.shot__info
                
                span.views 485
                span.likes 856
                span.rebounds 6213 
                span.comments 5344
                
        div.shot__caption
            
            h3.caption__title Title sits here
            h4.caption__date  January 23, 2012
            p.caption__description 
                | Direct trade intelligentsia cold-pressed bicycle rights schlitz, flexitarian brooklyn next level scenester etsy small batch tilde. Offal meditation disrupt mlkshk tattooed chicharrones. Offal chia hella, polaroid cray letterpress lo-fi schlitz meh echo park. Flexitarian hella slow-carb, literally before they sold out chia kinfolk next level distillery kickstarter tacos messenger bag pug. Mustache XOXO normcore swag,

    div.shots__shot

        figure.shot__image
        
            img(src="/assets/img/", alt="")
            
            div.shot__info
                
                span.views 297
                span.likes 234
                span.rebounds 6743 
                span.comments 6333
                
        div.shot__caption
            
            h3.caption__title Title sits here
            h4.caption__date  January 23, 2012
            p.caption__description 
                | Direct trade intelligentsia cold-pressed bicycle rights schlitz, flexitarian brooklyn next level scenester etsy small batch tilde. Offal meditation disrupt mlkshk tattooed chicharrones. Offal chia hella, polaroid cray letterpress lo-fi schlitz meh echo park. Flexitarian hella slow-carb, literally before they sold out chia kinfolk next level distillery kickstarter tacos messenger bag pug. Mustache XOXO normcore swag,
