section.work
    
    h2.work__title My Latest Work

    div.shots
    
        template#shots-template
            
            | {{#each this}}
            figure.shots__shot
                
                img(src="{{images.hidpi}}", alt="{{title}}")
                
                figcaption.shot__info
                    
                    div.shot-caption
                        h4.shot__title.meta {{ title }} 
                        h4.shot__date.meta  {{ created_at }}
                        a(href="{{html_url}}").shot__link.meta 
                            span View Shot 
                            include ../svg/dribbble.svg            
                    
                    div.shot-stats

                        span.views
                            include ../svg/eye.svg
                            | {{views_count}}
                        span.likes
                            include ../svg/heart.svg
                            | {{likes_count}}
                        span.comments
                            include ../svg/bubble.svg
                            | {{comments_count}}
                    
                div.mobile-shot-info
                    h3 {{title}}
                    a(href="{{html_url}}").shot__link--mobile
                        include ../svg/dribbble.svg    
            | {{/each}}
