section.shots
    

    figure.shots__shot
        
        img(src="/assets/img/chill.jpg", alt="")
        
        figcaption.shot__info
            
            div.shot-caption
                h3.shot__title.meta This is the shot's title 
                h4.shot__date.meta  October 23, 1023
                a(href="/").shot__link.meta 
                    span View Shot 
                    include ../svg/dribbble.svg            
            
            div.shot-stats

                span.views
                    include ../svg/eye.svg
                    | 32
                span.likes
                    include ../svg/heart.svg
                    | 43
                span.comments
                    include ../svg/bubble.svg
                    |3054
    
    figure.shots__shot
        
        img(src="/assets/img/chill.jpg", alt="")
        
        figcaption.shot__info
            
            div.shot-caption
                h3.shot__title.meta This is the shot's title 
                h4.shot__date.meta  October 23, 1023
                a(href="/").shot__link.meta 
                    span View Shot 
                    include ../svg/dribbble.svg            
            
            div.shot-stats

                span.views
                    include ../svg/eye.svg
                    | 32
                span.likes
                    include ../svg/heart.svg
                    | 43
                span.comments
                    include ../svg/bubble.svg
                    |3054
                        
    figure.shots__shot
        
        img(src="/assets/img/chill.jpg", alt="")
        
        figcaption.shot__info
            
            div.shot-caption
                h3.shot__title.meta This is the shot's title 
                h4.shot__date.meta  October 23, 1023
                a(href="/").shot__link.meta 
                    span View Shot 
                    include ../svg/dribbble.svg            
            
            div.shot-stats

                span.views
                    include ../svg/eye.svg
                    | 32
                span.likes
                    include ../svg/heart.svg
                    | 43
                span.comments
                    include ../svg/bubble.svg
                    |3054
    
    figure.shots__shot
        
        img(src="/assets/img/chill.jpg", alt="")
        
        figcaption.shot__info
            
            div.shot-caption
                h3.shot__title.meta This is the shot's title 
                h4.shot__date.meta  October 23, 1023
                a(href="/").shot__link.meta 
                    span View Shot 
                    include ../svg/dribbble.svg            
            
            div.shot-stats

                span.views
                    include ../svg/eye.svg
                    | 32
                span.likes
                    include ../svg/heart.svg
                    | 43
                span.comments
                    include ../svg/bubble.svg
                    |3054
