section.shots
    
    div.shots__shot
    
        figure.shot__image
            
            img(src="/assets/img/chill.jpg", alt="")
            
            div.shot__info
        
                span.views
                    include ../svg/eye.svg
                    | 32
                span.likes
                    include ../svg/heart.svg
                    | 43
                span.comments
                    include ../svg/bubble.svg
                    |3054
                
        div.shot__caption
            
            h3.caption__title Title sits here
            h4.caption__date  January 23, 2012
            p.caption__description 
                | Direct trade intelligentsia cold-pressed bicycle rights schlitz, flexitarian brooklyn next level scenester etsy small batch tilde. Offal meditation disrupt mlkshk tattooed chicharrones. Offal chia hella, polaroid 
                
                
                
    div.shots__shot
    
        figure.shot__image
        
            img(src="/assets/img/desk.jpg", alt="")
            
            div.shot__info
                
                span.views
                    include ../svg/eye.svg
                    | 32
                span.likes
                    include ../svg/heart.svg
                    | 43
                span.comments
                    include ../svg/bubble.svg
                    |3054
                
        div.shot__caption
            
            h3.caption__title Title sits here
            h4.caption__date  October 21, 2012
            p.caption__description 
                | Direct trade intelligentsia cold-pressed bicycle rights schlitz, flexitarian brooklyn next level scenester etsy small batch tilde. Offal meditation disrupt mlkshk tattooed chicharrones. Offal chia hella, polaroid cray letterpress lo-fi schlitz meh echo park. Flexitarian hella slow-carb, literally before they sold out chia kinfolk next level distillery kickstarter tacos messenger bag pug. Mustache XOXO normcore swag,

    div.shots__shot

        figure.shot__image
        
            img(src="/assets/img/tea.jpg", alt="")
            
            div.shot__info
            
                span.views
                    include ../svg/eye.svg
                    | 32
                span.likes
                    include ../svg/heart.svg
                    | 43
                span.comments
                    include ../svg/bubble.svg
                    |3054
                
        div.shot__caption
            
            h3.caption__title Title sits here
            h4.caption__date  January 23, 2012
            p.caption__description 
                | Direct trade intelligentsia cold-pressed bicycle rights schlitz, flexitarian brooklyn next level scenester etsy small batch tilde. Offal meditation disrupt mlkshk tattooed chicharrones. Offal chia hella, polaroid cray letterpress lo-fi schlitz meh echo park. Flexitarian hella slow-carb, literally before they sold out chia kinfolk next level distillery kickstarter tacos messenger bag pug. Mustache XOXO normcore swag,

    div.shots__shot
    
        figure.shot__image
        
            img(src="/assets/img/desk.jpg", alt="")
            
            div.shot__info
                
                span.views
                    include ../svg/eye.svg
                    | 32
                span.likes
                    include ../svg/heart.svg
                    | 43
                span.comments
                    include ../svg/bubble.svg
                    |3054
                
        div.shot__caption
            
            h3.caption__title Title sits here
            h4.caption__date  January 23, 2012
            p.caption__description 
                | Direct trade intelligentsia cold-pressed bicycle rights schlitz, flexitarian brooklyn next level scenester etsy small batch tilde. Offal meditation disrupt mlkshk tattooed chicharrones. Offal chia hella, polaroid cray letterpress lo-fi schlitz meh echo park. Flexitarian hella slow-carb, literally before they sold out chia kinfolk next level distillery kickstarter tacos messenger bag pug. Mustache XOXO normcore swag,
    
    div.shots__shot
    
        figure.shot__image
        
            img(src="/assets/img/tea.jpg", alt="")
            
            div.shot__info
                
                span.views
                    include ../svg/eye.svg
                    | 32
                span.likes
                    include ../svg/heart.svg
                    | 43
                span.comments
                    include ../svg/bubble.svg
                    |3054
                
        div.shot__caption
            
            h3.caption__title Title sits here
            h4.caption__date  January 23, 2012
            p.caption__description 
                | Direct trade intelligentsia cold-pressed bicycle rights schlitz, flexitarian brooklyn next level scenester etsy small batch tilde. Offal meditation disrupt mlkshk tattooed chicharrones. Offal chia hella, polaroid cray letterpress lo-fi schlitz meh echo park. Flexitarian hella slow-carb, literally before they sold out chia kinfolk next level distillery kickstarter tacos messenger bag pug. Mustache XOXO normcore swag,

    div.shots__shot

        figure.shot__image
        
            img(src="/assets/img/chill.jpg", alt="")
            
            div.shot__info
                
                span.views
                    include ../svg/eye.svg
                    | 32
                span.likes
                    include ../svg/heart.svg
                    | 43
                span.comments
                    include ../svg/bubble.svg
                    |3054
                
        div.shot__caption
            
            h3.caption__title Title sits here
            h4.caption__date  January 23, 2012
            p.caption__description 
                | Direct trade intelligentsia cold-pressed bicycle rights schlitz, flexitarian brooklyn next level scenester etsy small batch tilde. Offal meditation disrupt mlkshk tattooed chicharrones. Offal chia hella, polaroid cray letterpress lo-fi schlitz meh echo park. Flexitarian hella slow-carb, literally before they sold out chia kinfolk next level distillery kickstarter tacos messenger bag pug. Mustache XOXO normcore swag,
